html { font-family: Helvetica, sans-serif; background: #1F2933; }
body {  margin: 0; background: #1F2933; border-radius: 1px;}
h1 { font-family: Helvetica, sans-serif; color: #E4E7EB; margin: 1rem 0; }

a { background-color: #404040;
  border: none;
  color: #E4E7EB;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 14px;
  max-width: 12em;
  }
a:hover {
  background-color: #857f7f;
  color: white;
}

nav { background: #616E7C; display: flex; align-items: center; padding: 0 0.5rem; border-radius: 5px;}
nav h1 { font-size: 2em; flex: auto; margin: 0; color: #E4E7EB; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; background-color: #616E7C; font-size: 40px;}
nav h1 a:hover { background-color: #616E7C;}
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; color: #E4E7EB; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
nav ul li span { margin-top: 8px;}
nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 12px;
}

nav ul li form {
  margin-right: auto;
  background-color: #dee1e3;
  display:flex;
  flex-direction:row;
  border:1px solid grey;
  text-align: left;
  border-radius: 18px;
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  margin-bottom: 8px;
}

nav ul li form:hover {
  box-shadow: 0 0 0 2px #87c8e0;
   }
nav ul li form input[type="text"] {
  border: none;
  font-size: 17px;
  background-color: #dee1e3;
  }

nav ul li form input:focus {
  outline: none;
}

button {
  background:#dee1e3;
  border-radius: 25px;
  color: #808080;
  border:2px solid #808080;
}

img {
  border-radius: 50%;
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.content { padding: 0 1rem 1rem; }
.content > header { display: flex; align-items: flex-end; padding-bottom: 10px;}
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: #E4E7EB; font-style: italic;  display: flex; align-items: center; margin-top:10px;}
.post .body { color: #F5F7FA; white-space: pre-line; }

.container {
  display: flex;
  justify-content: center;
}

.post-column {
  max-width: 650px;
  width: 70%;

  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: 20px;
  }

.post-container {
  background: #383838;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 6px;
}

.new-column {
  width: 30%;
  padding-left: 30px;
}

.new .action {
  border: none;
  color: #E4E7EB;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 14px;
  max-width: 12em;
}

.post .edit .action {
  border: none;
  color: #E4E7EB;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 14px;
  max-width: 12em;
}

.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; color: #E4E7EB; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; background: #404040; color: #E4E7EB;  }
.content textarea { min-height: 12em; resize: vertical; }
input[type=submit] { align-self: start; min-width: 10em; border-radius: 8px; background-color: #404040;}
