{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tumblr{% endblock %}</h1>
  {% if g.user %}
    <div class="new"><a class="action" href="{{ url_for('blog.create') }}">New</a></div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="post-column">
      {% for post in posts %}
        <div class="post-container">
          <article class="post">
            <header>
              <div>
                <h1>{{ post['title'] }}</h1>
                <div class="about"> <img src="{{ url_for('static', filename='images/mochi.jpg') }}" class="image"/>by {{ post['username'] }} on {{ post['post_created'].strftime('%Y-%m-%d') }}</div>
              </div>
              {% if g.user['id'] == post['post_author_id'] %}
                <div class="edit"><a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a></div>
              {% endif %}
            </header>
            <p class="body">{{ post['post_body'] }}</p>
            <a class="action" href="{{ url_for('blog.comment', id=post['id']) }}">Comments</a>
          </article>
        </div>
      {% endfor %}
    </div>

    <div class="new-column">
      <h1>Hello, I am a sidebar.</h1>
    </div>
  </div>
{% endblock %}