<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('blog.index') }}"><img src="{{ url_for('static', filename='images/reddit-transparent.png') }}" class="image"/></a></h1>
  <ul>
      {% block nav %}

      <li><form action="{{ url_for('blog.search') }}" method='post'>
            <input type="text" name="search_content" onkeydown="if(event.keycode == 12) { this.form.submit(); return false; }" placeholder="Search Reddit">
          </form>
          {% endblock %}
    {% if g.user %}

      </li>
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</head>
<body>

</body>
</html>

<! get_flashed_messages() is inbuilt func to return all flash() stored in current session